In [36]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [37]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Miri,MY,2022-08-11 19:46:51,4.4148,114.0089,80.74,94,40,1.14
1,1,Lavrentiya,RU,2022-08-11 19:46:52,65.5833,-171.0000,43.74,89,72,5.95
2,2,Hithadhoo,MV,2022-08-11 19:43:36,-0.6000,73.0833,81.64,75,3,7.49
3,3,Vaini,TO,2022-08-11 19:46:52,-21.2000,-175.2000,73.56,83,40,11.50
4,4,Beringovskiy,RU,2022-08-11 19:45:09,63.0500,179.3167,52.68,84,100,16.15

In [38]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [39]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [41]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

In [45]:
#Filter the data set to find the cities that fit the crieteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Miri,MY,2022-08-11 19:46:51,4.4148,114.0089,80.74,94,40,1.14
2,2,Hithadhoo,MV,2022-08-11 19:43:36,-0.6000,73.0833,81.64,75,3,7.49
7,7,Port Blair,IN,2022-08-11 19:46:53,11.6667,92.7500,81.36,81,100,14.27
9,9,Sur,OM,2022-08-11 19:46:53,22.5667,59.5289,89.56,59,100,7.83
20,20,Marshfield,US,2022-08-11 19:46:56,44.6689,-90.1718,79.45,44,20,10.36
22,22,Jiangyou,CN,2022-08-11 19:46:57,31.7667,104.7167,77.85,85,86,1.61
26,26,Guerrero Negro,MX,2022-08-11 19:46:58,27.9769,-114.0611,82.96,46,1,14.56
28,28,Albany,US,2022-08-11 19:46:58,42.6001,-73.9662,84.38,51,93,10.74
37,37,Butaritari,KI,2022-08-11 19:47:01,3.0707,172.7902,81.86,74,99,12.19
39,39,Touros,BR,2022-08-11 19:45:02,-5.1989,-35.4608,78.40,78,23,12.24

In [46]:
preferred_cities_df.count()

City_ID       193
City          193
Country       193
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [47]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0             Miri      MY     80.74   4.4148  114.0089
2        Hithadhoo      MV     81.64  -0.6000   73.0833
7       Port Blair      IN     81.36  11.6667   92.7500
9              Sur      OM     89.56  22.5667   59.5289
20      Marshfield      US     79.45  44.6689  -90.1718
22        Jiangyou      CN     77.85  31.7667  104.7167
26  Guerrero Negro      MX     82.96  27.9769 -114.0611
28          Albany      US     84.38  42.6001  -73.9662
37      Butaritari      KI     81.86   3.0707  172.7902
39          Touros      BR     78.40  -5.1989  -35.4608

In [48]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Miri,MY,80.74,4.4148,114.0089,"Mega Hotel, Miri"
2,Hithadhoo,MV,81.64,-0.6000,73.0833,Scoop Guest House
7,Port Blair,IN,81.36,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
9,Sur,OM,89.56,22.5667,59.5289,Sur Plaza Hotel
20,Marshfield,US,79.45,44.6689,-90.1718,"Holiday Inn Conference Ctr Marshfield, an IHG ..."
22,Jiangyou,CN,77.85,31.7667,104.7167,Shangping Shuyuan Inn
26,Guerrero Negro,MX,82.96,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
28,Albany,US,84.38,42.6001,-73.9662,
37,Butaritari,KI,81.86,3.0707,172.7902,Isles Sunset Lodge
39,Touros,BR,78.40,-5.1989,-35.4608,INN NEW HORIZON

In [ ]:
#Add a heatmap of temperature for vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))