## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,77.22,68,33,25.48,scattered clouds
1,1,Constitucion,CL,-35.3333,-72.4167,50.49,79,0,5.66,clear sky
2,2,Hobart,AU,-42.8794,147.3294,43.27,100,75,0.00,broken clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,33.35,94,92,2.59,overcast clouds
4,4,Codrington,AU,-38.2667,141.9667,46.27,93,100,3.06,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,77.22,68,33,25.48,scattered clouds
7,7,Bethel,US,41.3712,-73.4140,88.81,53,100,1.52,overcast clouds
10,10,Avarua,CK,-21.2078,-159.7750,78.85,73,20,12.66,few clouds
11,11,Lahij,YE,13.1667,44.5833,85.51,58,94,2.24,overcast clouds
14,14,Zhangye,CN,38.9342,100.4517,80.06,55,1,1.63,clear sky
...,...,...,...,...,...,...,...,...,...,...
644,644,Mana,GF,5.6592,-53.7767,80.15,79,37,6.40,scattered clouds
645,645,Xuanwu,CN,32.0690,118.8138,83.17,72,100,3.51,overcast clouds
647,647,Akyab,MM,20.1500,92.9000,78.55,89,94,2.19,light rain
648,648,Avera,US,33.1940,-82.5271,80.55,54,99,6.02,overcast clouds
649,649,Guerrero Negro,MX,27.9769,-114.0611,82.45,48,1,16.40,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,77.22,68,33,25.48,scattered clouds
7,7,Bethel,US,41.3712,-73.4140,88.81,53,100,1.52,overcast clouds
10,10,Avarua,CK,-21.2078,-159.7750,78.85,73,20,12.66,few clouds
11,11,Lahij,YE,13.1667,44.5833,85.51,58,94,2.24,overcast clouds
14,14,Zhangye,CN,38.9342,100.4517,80.06,55,1,1.63,clear sky
...,...,...,...,...,...,...,...,...,...,...
644,644,Mana,GF,5.6592,-53.7767,80.15,79,37,6.40,scattered clouds
645,645,Xuanwu,CN,32.0690,118.8138,83.17,72,100,3.51,overcast clouds
647,647,Akyab,MM,20.1500,92.9000,78.55,89,94,2.19,light rain
648,648,Avera,US,33.1940,-82.5271,80.55,54,99,6.02,overcast clouds
649,649,Guerrero Negro,MX,27.9769,-114.0611,82.45,48,1,16.40,clear sky

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Atuona,PF,77.22,scattered clouds,-9.8000,-139.0333,
7,Bethel,US,88.81,overcast clouds,41.3712,-73.4140,
10,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,
11,Lahij,YE,85.51,overcast clouds,13.1667,44.5833,
14,Zhangye,CN,80.06,clear sky,38.9342,100.4517,
19,Banda Aceh,ID,78.19,light rain,5.5577,95.3222,
24,Kapaa,US,84.18,broken clouds,22.0752,-159.3190,
26,Albany,US,82.56,broken clouds,42.6001,-73.9662,
28,Gat,IL,79.81,clear sky,31.6100,34.7642,
29,Owando,CG,77.95,overcast clouds,-0.4819,15.8999,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Atuona,PF,77.22,scattered clouds,-9.8000,-139.0333,Villa Enata
7,Bethel,US,88.81,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
10,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,Paradise Inn
14,Zhangye,CN,80.06,clear sky,38.9342,100.4517,Zhangye Lvzhou Holiday Inn
19,Banda Aceh,ID,78.19,light rain,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
...,...,...,...,...,...,...,...
638,Port Blair,IN,80.96,overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
644,Mana,GF,80.15,scattered clouds,5.6592,-53.7767,LE SAMANA
645,Xuanwu,CN,83.17,overcast clouds,32.0690,118.8138,东方珍珠饭店
647,Akyab,MM,78.55,light rain,20.1500,92.9000,ဟိုတယ် မန်မိုရီ
649,Guerrero Negro,MX,82.45,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))